.world{
  width: 80vw;
  height: 60vh;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  /*원근감 속성*/
  perspective: 500px;
}

.card{
  position: relative;
  width: 100px;
  height: 150px;
  margin: 1em;
  /*균일하게 3D효과를 주길 원하면 해당되는 요소에다가 perspective 값 주기*/
  /* transform: perspective(500px) rotateY(45deg); */
  transform: rotateY(0deg);
  transition: 1s;
  /*3D 효과를 단계를 거쳐 주길 위함*/
  transform-style: preserve-3d;
  /*회전이 되는 기준점 설정*/
  /* transform-origin: left; */
}

.card-side{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  /* em : 현재 div font-size 기준
    rem : html font-size 기준 */
  font-size: 1rem;
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  /*뒷면이 안보이게 설정*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}

.card-side-front{
  background: white;
  z-index: 1;
}
.card-side-back{
  background: red;
  transform: rotateY(180deg);

}
.world:hover .card{
  transform: rotateY(-180deg);
}
