body {
  font-family: "Apple SD Gothic Neo", "Roboto", "Noto Sans KR", NanumGothic,
    "Malgun Gothic", sans-serif;
  -webkit-overflow-scrolling: touch;
  color: #555;
  background: #fff000;
  height: 500vw;
}
.world {
  perspective: 1000px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.stage {
  /* 다른요소들에게 영향을 안주기위해 */
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  /* 중간에 걸쳐진 요소에 3d효과를 주기위함. 그래야 house에도 3d효과가 잘 전달된다 */
  transform-style: preserve-3d;
}
.house {
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
  transform: translateZ(-490vw);
}
.wall {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
}
.wall-left {
  width: 1000vw;
  background: #f8f8f8;
  /* left: -500vw; */
  transform: rotateY(90deg) translateZ(-500vw);
}
.wall-right {
  width: 1000vw;
  background: #f8f8f8;
  /* left: -500vw; */
  /* left: -400vw; */
  transform: rotateY(90deg) translateZ(-400vw);
}
.wall-front-a {
  transform: translateZ(300vw);
}
.wall-front-b {
  transform: translateZ(50vw);
}
.wall-front-c {
  transform: translateZ(-200vw);
}
.wall-front-d {
  transform: translateZ(-500vw);
}

.wall-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.wall-title {
  font-size: 5rem;
}
