.stage {
  overflow: hidden;
  /* 윈도우 밖으로 나가면 스크롤이 생기는것이 아니라 숨김처리*/
  width: 100vw;
  height: 75vw;
  background: #fff000;
  position: relative;
}
@keyframes moving {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(90vw);
  }
}
.ilbuni {
  position: absolute;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  /*contain은 이미지가 틀에 가득 차는 것을 의미*/
  animation: moving infinite alternate;
}
.ilbuni:nth-child(1) {
  left: 5%;
  bottom: 5%;
  background-image: url("../image/ilbuni_0.png");
  animation-duration: 4s;
}
.ilbuni:nth-child(2) {
  left: 10%;
  bottom: 3%;
  background-image: url("../image/ilbuni_1.png");
  animation-duration: 5s;
}
.ilbuni:nth-child(3) {
  left: 7%;
  bottom: 10%;
  background-image: url("../image/ilbuni_2.png");
  animation-duration: 6s;
}
